{% extends 'base.html' %}

{% block content %}
<style type='text/css'>
    .my-grid{
        border: 1px solid black;
    }

    .my-grid-item {
        border: 1px solid red
    }

    .welcome h1{
        font-family: Times serif;
        font-size: 50px;
        width: X;
        height: Y;
        position: absolute;
        top: 50%;
        left: 34%;
        align-content: center;
    }
     
    .describe h6 {
        width: X;
        height: Y;
        position: absolute;
        top: 60%;
        left: 28%;
        align-content: center;
    }
    

</style>


<div class='welcome'>
    <h1>Welcome to the web chat</h1>
</div>
<div class='describe'>
    <h6>Where you can easily find a conversational friend by using search. Go ahead and type in their nickname!</h6>
</div>

    

</div>

{% endblock %}