{% load static %}

<style type='text/css'>
    head {
        font-family: 'Segoe UI';
        font-weight: 380;

    }

    footer {
        font-family: 'Segoe UI';
        font-weight: 380;
    }

    body {
        background-image: url('static/image/backg.jpg');
        background-size: cover;
        font-family: sans-serif;
        font-weight: 380;
    }

    :root {
        --main-background-color: #928989;
        --dark-background-color: #a2a2a2;
    }
</style>